USE [QuanLyShowRoomXe]
GO
/****** Object:  Table [dbo].[DANH_SACH_XE]    Script Date: 4/13/2026 11:28:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_SACH_XE](
	[ID_Xe] [varchar](10) NOT NULL,
	[Ten_Xe] [nvarchar](100) NOT NULL,
	[Ma_Hang] [varchar](10) NULL,
	[Ma_Loai] [varchar](10) NULL,
	[Dong_Co] [nvarchar](30) NULL,
	[Ma_Luc_HP] [int] NULL,
	[Toc_Do_Toi_Da_KmH] [int] NULL,
	[Tang_Toc_0_100_s] [decimal](3, 1) NULL,
	[Gia_USD] [int] NULL,
	[Mau_Sac] [nvarchar](50) NULL,
	[Mo_Ta_Xe] [nvarchar](500) NULL,
	[Link] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Xe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 4/13/2026 11:28:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[Ma_Dich_Vu] [varchar](10) NOT NULL,
	[Ten_Dich_Vu] [nvarchar](200) NULL,
	[Mo_Ta_Chi_Tiet] [nvarchar](200) NULL,
	[Gia_VND] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Dich_Vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG_XE]    Script Date: 4/13/2026 11:28:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG_XE](
	[Ma_Hang] [varchar](10) NOT NULL,
	[Ten_Hang] [nvarchar](50) NOT NULL,
	[Quoc_Gia] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_BAN_XE]    Script Date: 4/13/2026 11:28:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_BAN_XE](
	[Ma_Hoa_Don_Ban_Xe] [varchar](10) NOT NULL,
	[ID_XE] [varchar](10) NULL,
	[Ngay_Lap] [date] NULL,
	[Ma_Nhan_Vien] [varchar](10) NULL,
	[Ma_Khach_Hang] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Hoa_Don_Ban_Xe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_DICH_VU]    Script Date: 4/13/2026 11:28:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_DICH_VU](
	[Ma_Hoa_Don_Dich_Vu] [varchar](10) NOT NULL,
	[Ma_Dich_Vu] [varchar](10) NULL,
	[Ngay_Lap] [date] NULL,
	[Ma_Nhan_Vien] [varchar](10) NULL,
	[Ma_Khach_Hang] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Hoa_Don_Dich_Vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 4/13/2026 11:28:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[Ma_Khach_Hang] [varchar](50) NOT NULL,
	[Ten_Khach_Hang] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[Quoc_Tich] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Khach_Hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_XE]    Script Date: 4/13/2026 11:28:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_XE](
	[Ma_Loai] [varchar](10) NOT NULL,
	[Ten_Loai] [nvarchar](50) NOT NULL,
	[Mo_Ta] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 4/13/2026 11:28:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[Ma_Nhan_Vien] [varchar](10) NOT NULL,
	[Ho_Ten] [nvarchar](50) NULL,
	[Chuc_Vu] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Nhan_Vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DANH_SACH_XE]  WITH CHECK ADD  CONSTRAINT [FK_Xe_Hang] FOREIGN KEY([Ma_Hang])
REFERENCES [dbo].[HANG_XE] ([Ma_Hang])
GO
ALTER TABLE [dbo].[DANH_SACH_XE] CHECK CONSTRAINT [FK_Xe_Hang]
GO
ALTER TABLE [dbo].[DANH_SACH_XE]  WITH CHECK ADD  CONSTRAINT [FK_Xe_Loai] FOREIGN KEY([Ma_Loai])
REFERENCES [dbo].[LOAI_XE] ([Ma_Loai])
GO
ALTER TABLE [dbo].[DANH_SACH_XE] CHECK CONSTRAINT [FK_Xe_Loai]
GO
ALTER TABLE [dbo].[HOA_DON_BAN_XE]  WITH CHECK ADD  CONSTRAINT [FK_HDBX_KH] FOREIGN KEY([Ma_Khach_Hang])
REFERENCES [dbo].[KHACH_HANG] ([Ma_Khach_Hang])
GO
ALTER TABLE [dbo].[HOA_DON_BAN_XE] CHECK CONSTRAINT [FK_HDBX_KH]
GO
ALTER TABLE [dbo].[HOA_DON_BAN_XE]  WITH CHECK ADD  CONSTRAINT [FK_HDBX_NV] FOREIGN KEY([Ma_Nhan_Vien])
REFERENCES [dbo].[NHAN_VIEN] ([Ma_Nhan_Vien])
GO
ALTER TABLE [dbo].[HOA_DON_BAN_XE] CHECK CONSTRAINT [FK_HDBX_NV]
GO
ALTER TABLE [dbo].[HOA_DON_BAN_XE]  WITH CHECK ADD  CONSTRAINT [FK_ID_XE] FOREIGN KEY([ID_XE])
REFERENCES [dbo].[DANH_SACH_XE] ([ID_Xe])
GO
ALTER TABLE [dbo].[HOA_DON_BAN_XE] CHECK CONSTRAINT [FK_ID_XE]
GO
ALTER TABLE [dbo].[HOA_DON_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_HDDV_DV] FOREIGN KEY([Ma_Dich_Vu])
REFERENCES [dbo].[DICH_VU] ([Ma_Dich_Vu])
GO
ALTER TABLE [dbo].[HOA_DON_DICH_VU] CHECK CONSTRAINT [FK_HDDV_DV]
GO
ALTER TABLE [dbo].[HOA_DON_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_HDDV_KH] FOREIGN KEY([Ma_Khach_Hang])
REFERENCES [dbo].[KHACH_HANG] ([Ma_Khach_Hang])
GO
ALTER TABLE [dbo].[HOA_DON_DICH_VU] CHECK CONSTRAINT [FK_HDDV_KH]
GO
ALTER TABLE [dbo].[HOA_DON_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_HDDV_NV] FOREIGN KEY([Ma_Nhan_Vien])
REFERENCES [dbo].[NHAN_VIEN] ([Ma_Nhan_Vien])
GO
ALTER TABLE [dbo].[HOA_DON_DICH_VU] CHECK CONSTRAINT [FK_HDDV_NV]
GO
